html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  line-height: 2;
}

.centrar-texto {
  text-align: center;
}
.negrilla {
  font-weight: bold;
}

.avatar {
  width: 128px;
  height: 128px;
}
.icono {
  color: #01356b;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 2rem;
  margin-left: 0.8rem;
}

footer {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  background: #353a3f;
  margin-bottom: 0;
  color: white;
}

address {
  margin-bottom: 0;
}

.icono-error {
  color: #c50909;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 8.5rem;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.derecha {
  float: right;
  padding-bottom: 10px;
}


.icono-github {
  color: #1f1e1e;
  font-size: 1.8rem;
}