{% extends 'template.html' %}
{% block content %}

<div class="container">
    <h1>{{ titulo }}</h1>
    {% if curso %}
    <form method="post" action="/modificarCurso/{{ curso._id.toString()}}">
        <div class="form-group">
            <label for="titulo">Título: <span class="text-danger">*</span></label>
            <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Título del Curso"
                value="{{ curso.titulo }}" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción: <span class="text-danger">*</span></label>
            <input type="text" id="descripcion" name="descripcion" class="form-control"
                placeholder="Descripción del Curso" required value="{{ curso.descripcion }}">
        </div>
        <div class="form-group">
            <label for="urlImagen">Url Imágen: <span class="text-danger">*</span></label>
            <input type="text" id="urlImagen" name="urlImagen" class="form-control" placeholder="Url Imágen del Curso"
                required value="{{ curso.urlImagen }}">
        </div>
        <div class="form-group">
            <label for="horas">Horas: <span class="text-danger">*</span></label>
            <input type="number" id="horas" name="horas" class="form-control" required value="{{ curso.horas }}">
        </div>
        <input type="submit" value="Modificar" class="btn btn-primary">
    </form>
    {% else %}
    <form method="post" action="/insertarCurso">
        <div class="form-group">
            <label for="titulo">Título: <span class="text-danger">*</span></label>
            <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Título del Curso" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción: <span class="text-danger">*</span></label>
            <input type="text" id="descripcion" name="descripcion" class="form-control"
                placeholder="Descripción del Curso" required>
        </div>
        <div class="form-group">
            <label for="urlImagen">Url Imágen: <span class="text-danger">*</span></label>
            <input type="text" id="urlImagen" name="urlImagen" class="form-control" placeholder="Url Imágen del Curso"
                required>
        </div>
        <div class="form-group">
            <label for="horas">Horas: <span class="text-danger">*</span></label>
            <input type="number" id="horas" name="horas" class="form-control" required>
        </div>
        <input type="submit" value="Guardar" class="btn btn-primary">
    </form>
    {% endif %}
</div>

{% endblock %}