{% extends 'template.html' %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">AppCursos</h1>
  <p class="lead">Es una plataforma de aprendizaje en línea. Está dirigido para adultos profesionales.​ </p>
  <hr class="my-4">
  <p>Utiliza contenido en línea para ofrecer diferentes cursos.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/inscripcion" role="button">Inscripción</a>
  </p>
</div>

<div class="container">
  <div class="centrar-texto">
    <a href="https://github.com/diego10j/appnode" target="_blank"><i class="fab fa-github icono-github"></i> Código
      Fuente</a>
  </div>
</div>
{% endblock %}